@use './reset';
@use './variables' as *;
@use './functions' as *;

@mixin card{
  background: map-get($colors, "gradient");
  padding: px-to-rem(24px, 1em) px-to-rem(20px, 1em);
  border-radius: px-to-rem(16px);
  box-shadow: $card_ui;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  backface-visibility: hidden;
  user-select: none;

}
$flipDeg: -180deg;
body{
  background-color: map-get($colors, 'background');
  font-family: inter;
  display: grid;
  place-items: center;
}

.card{
  max-width: px-to-rem(588px);
  margin-inline: auto;
  position: relative;
  padding: 16px;
  perspective: px-to-rem(1000px);
  color: map-get($colors, 'text');
   &_flip{
    display: grid;
    place-items: center;
    width: 70%;
    height: px-to-rem(200px);
    margin-inline: auto;
    position: relative;
    color: map-get($colors, 'white');
    translate: 0 px-to-rem(52px);
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
    &:hover{
      transform: rotateX($flipDeg);
    }
.icons{
  display: flex;
  justify-content: space-between;
}
    .front{

    }
    .back{
      transform: rotateX($flipDeg);
      display: grid;
      place-items: center;
    }
   }


  &_ui{
 &:is(.front, .back){
  @include card;
 }


  }
  &_ui .front {
    z-index: 1000;
  }

  &_form{
    background-color: map-get($colors, 'white');
    box-shadow: $main_card;
    padding: px-to-rem(16px, 1em);
    border-radius: px-to-rem(20px);
    padding-top: px-to-rem(100px, 1em);
display: flex;
flex-direction: column;


&> .holder + .holder{
  margin-top: px-to-rem(24px, 1em);
}
.holder{
  gap: px-to-rem(8px);
   display: flex;
  flex-direction: column;
}

.card_number{
  .inputs{
    display: flex;
    justify-content: space-between;
    gap: px-to-rem(8px);
    flex-wrap: wrap;
    input{
      max-width: px-to-rem(80px);
    }
  }
}

.card_holder{
  display: flex;
  flex-direction: column;
}

  }
}

.form_content{
  max-width: px-to-rem(384px, 1em);
  margin-inline: auto;
}
.submit{
  display: block;
  background-color: map-get($colors, 'button');
  border: none;
  flex-basis: 100%;
  align-self: stretch;
width: 100%;


  margin-inline: auto;
  color: map-get($colors, 'white');
  padding-block: px-to-rem(16px) ;
  border-radius: px-to-rem(8px);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: px-to-rem(42px);

  &:active{
    background-color: darken(map-get($colors, 'button'), $amount: 2);
  }
  &:hover{
    background-color: lighten(map-get($colors, 'button'), $amount: 2);
  }
}

input {
  padding-inline: px-to-rem(8px);
  border:2px solid map-get($colors, 'grey');
  border-radius: px-to-rem(8px);
  padding-block: px-to-rem(8px);
}
