@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Box sizing rules */
* *::before *::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #dbfbe6;
  font-family: inter;
}

.card_ui_number {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: space-between;
}

.card_flip {
  text-transform: uppercase;
}
.card_flip .card_uuid {
  font-size: 18px;
  margin-top: 1.25rem;
}
@media (min-width: 600px) {
  .card_flip .card_uuid {
    font-size: 24px;
  }
}
.card_flip .card_ui_sub {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.card_flip .card_ui_sub label {
  font-size: 10px;
  color: #efefef;
}
.card_flip .card_ui_sub .sub-text {
  font-size: 14px;
  font-weight: 500;
}

.card {
  max-width: 36.75rem;
  margin-inline: auto;
  position: relative;
  padding: 16px;
  perspective: 50rem;
  color: #52525C;
}
.card_flip {
  display: grid;
  place-items: center;
  width: clamp(12.5rem, 100%, 18.75rem);
  aspect-ratio: 113/62;
  margin-inline: auto;
  position: relative;
  color: #ffffff;
  translate: 0 3.25rem;
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
}
@media (min-width: 600px) {
  .card_flip {
    width: clamp(12.5rem, 100%, 23.75rem);
  }
}
@media (max-width: 370px) {
  .card_flip {
    width: clamp(12.5rem, 100%, 15.625rem);
  }
}
.card_flip:hover {
  transform: rotateY(-180deg);
}
.card_flip .icons {
  display: flex;
  justify-content: space-between;
}
.card_flip .back {
  transform: rotateY(-180deg);
  display: grid;
  place-items: center;
}
.card_ui:is(.front, .back) {
  background: linear-gradient(78deg, #22d067 -0.78%, #166534 94.94%);
  padding: 1.5em 1.25em;
  border-radius: 1rem;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  aspect-ratio: 113/62;
  cursor: pointer;
  backface-visibility: hidden;
  user-select: none;
}
.card_ui .front {
  z-index: 1000;
}
.card_form {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 1em;
  border-radius: 1.25rem;
  padding-top: 6.25em;
  display: flex;
  flex-direction: column;
  padding-inline: 1.5rem;
}
@media (min-width: 600px) {
  .card_form {
    padding-inline: 5.25rem;
    padding-bottom: 2rem;
  }
}
.card_form > .holder + .holder {
  margin-top: 0.875rem;
}
.card_form .holder {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.card_form .card_number .inputs {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, minmax(20px, auto));
  gap: 0.5rem;
  flex-wrap: wrap;
}
.card_form .card_number .inputs input {
  max-width: 3.25rem;
}
.card_form .card_holder {
  display: flex;
  flex-direction: column;
}

.form_content {
  max-width: 24em;
  margin-inline: auto;
}

.submit {
  display: block;
  background-color: #166534;
  border: none;
  flex-basis: 100%;
  align-self: stretch;
  width: 100%;
  margin-inline: auto;
  color: #ffffff;
  padding-block: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 2.625rem;
}
.submit:active {
  background-color: #145d30;
}
.submit:hover {
  background-color: #186d38;
}

:is(input, select) {
  padding-inline: 0.5rem;
  border: 2px solid #D9D9D9;
  border-radius: 0.5rem;
  padding-block: 0.5rem;
}

.dccv {
  display: flex;
  flex-grow: wrap;
  justify-content: space-between;
  gap: 8px;
}
.dccv input {
  max-width: 3.25rem;
}

/*# sourceMappingURL=styles.css.map */
